<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Display Images</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        Content Image:
        <input type="file" name="content">
        Style Image:
        <input type="file" name="style">
        <input type="submit" value="Upload">
    </form>

</body>
</html>
